<h2>Reactive Enrollment Form</h2>

<form [formGroup]="enrollForm" (ngSubmit)="onSubmit()">

  <label>Name</label><br>
  <input type="text" formControlName="studentName">

  <br><br>

  <label>Email</label><br>
  <input type="email" formControlName="studentEmail">

  <br><br>

  <label>Course ID</label><br>

<input
  type="text"
  formControlName="courseId"
  placeholder="Enter Course Code">

<div
  *ngIf="enrollForm.get('courseId')?.touched &&
         enrollForm.get('courseId')?.errors?.['noCourseCode']"
  style="color:red">

  Course codes starting with XX are not allowed.

</div>

  <br><br>

  <label>Semester</label><br>

  <select formControlName="preferredSemester">
    <option>Odd</option>
    <option>Even</option>
  </select>

  <br><br>

  <h3>Additional Courses</h3>

  <button
    type="button"
    (click)="addCourse()">

    Add Another Course

  </button>

  <div *ngFor="let ctrl of additionalCourses.controls; let i = index">

    <br>

    <input
      [formControl]="$any(ctrl)"
      placeholder="Course Code">

    <button
      type="button"
      (click)="removeCourse(i)">
      Remove
    </button>

  </div>

  <br><br>

  <label>

    <input
      type="checkbox"
      formControlName="agreeToTerms">

    I Agree to Terms

  </label>

  <br><br>

  <button
    type="submit"
    [disabled]="enrollForm.invalid">

    Submit

  </button>

</form>